th {
  padding: "14px 18px";
  font-weight: "bold";
  color: "#223047";
  font-family: "'Montserrat', Arial, Helvetica, sans-serif";
  font-size: 18;
}

td {
  padding: "14px 18px";
  color: "#223047";
  font-family: "'Montserrat', Arial, Helvetica, sans-serif";
  font-size: 17;
}
