th {
  padding: "14px 18px";
  font-weight: "bold";
  color: "#223047";
  font-family: "'Montserrat', Arial, Helvetica, sans-serif";
  font-size: 18;
}

td {
  padding: "14px 18px";
  color: "#223047";
  font-family: "'Montserrat', Arial, Helvetica, sans-serif";
  font-size: 17;
}

@keyframes oport-fadeup {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.animate-oport-fadeup {
  animation: oport-fadeup 0.8s cubic-bezier(0.4, 1.2, 0.6, 1) forwards;
}
